.wrapper {
  background-color: var(--gray-700);
  width: 100%;
  height: 12.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  position: absolute;
  top: 170px;
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 0.5rem;
}

.form input {
  width: 39.875rem;
  height: 3.375rem;
  padding: 0 1rem;
  color: var(--gray-100);

  margin-right: 0.5rem;

  background: var(--gray-500);

  border: 1px solid var(--gray-700);
  border-radius: 8px;
}

.form input::placeholder {
  color: var(--gray-300);
}

.form button {
  width: 5.625rem;
  height: 3.25rem;
  background: var(--blue-dark);
  border-radius: 8px;
  font-weight: 700;
  color: var(--gray-100);
  text-align: center;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s;
}

.form button svg {
  margin-left: 0.5rem;
}

.form button:active {
  animation-name: button-click;
  animation-duration: 0.2s;
}

@keyframes button-click {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.95);
  }
}